.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.75rem;
    gap: 1rem;
}

.textArea {
    width: 39.875rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    color: white;
    border: none;
    padding: 1rem;
    background: var(--gray-600);
}

.buttonCreate {
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border-radius: 0.5rem;
    background: var(--blue-500);
    color: white;
    width: 5.625rem;
    height: 3.25rem;
}

.buttonCreate:hover{
    background: var(--blue-300);
    cursor: pointer;
    transition: 0.3s;
}