.checkbox {
    width: 100%;
    border: 1px solid var(--gray-500);
    border-radius: 1rem;
    background-color: var(--gray-600);
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label {
    margin: 2rem;
}

.buttonTrash {
    margin: 2rem;
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
}

.buttonTrash:hover {
    margin: 2rem;
    height: 2rem;
    width: 2rem;
    background-color: var(--gray-400);
    border-radius: 0.5rem;
    border: none;
    color: black;
}

.checkboxClick {
    background-color: none;
    width: 1.09rem;
    height: 1.09rem;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid var(--blue-300);
    outline: none;
    cursor: pointer;
    margin-right: 1rem;
}

.labelTrue {
    margin: 2rem;
    text-decoration-line: line-through; 
    color: var(--gray-400);
}