.header { 
    width: 100%;
    height: 12.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 8rem;
    width: 7.875rem;
}