.qtd {
    width: 75px;
    height: 19px;
    background: var(--gray-500);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qtdPrimeira {
    width: 25px;
    height: 19px;
    background: var(--gray-500);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarefas {
    margin-top: 4.375rem;
    width: 46rem;
    gap: 0.5rem;
}

.tarefasCriadas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4rem;
}

.tarefasConcluidas {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.4rem;
    width: 35rem;
}

.semTarefas {
    display: table;
    text-align: center; 
    margin: auto;
    padding-top: 6rem;
}

.semTarefas p {
    color: var(--gray-500);
    font-size: 16px;
}

.semTarefas p strong{
    color: var(--gray-500);
    font-size: 16px;
}

.checkbox {
    padding-top: 1rem;
}